* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  max-width: 100vw;
  height: auto;
  background-color: #f8f8f8;
}

.page-container .page-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 126px;
  overflow-x: hidden;
}

.page-container .fixed-top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.page-container .fixed-top-bar .banner {
  width: 100%;
  height: 46px;
  background-color: #111111;
  color: ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container .fixed-top-bar .banner p {
  font-family: "Arial";
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}
.page-container .fixed-top-bar .banner .boldBannerText {
  font-weight: 700;
}

.page-container .fixed-top-bar .banner .bannerLink {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  color: #ffffff;

  margin-left: 20px;
}

.page-container .fixed-top-bar .navigation-container {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  padding: 15px 0px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}

.page-container .fixed-top-bar .navigation-container .nav-left {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

.page-container .fixed-top-bar .navigation-container .nav-left .logo-container {
  height: 31.9375px;
  width: 146px;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-left
  .logo-container
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  cursor: pointer;
}

.page-container .fixed-top-bar .navigation-container .nav-left .menu-icon {
  height: 18px;
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.page-container .fixed-top-bar .navigation-container .nav-left .menu-icon p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  margin-bottom: -15px;
  margin-top: 8px;

  margin-left: -15px;
}

.page-container .fixed-top-bar .navigation-container .nav-left .menu-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-left
  .search-bar-container {
  height: 40px;
  width: 350px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px -1px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-left
  .search-bar-container
  input {
  flex: 1;
  outline: none;
  border: 0;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-left
  .search-bar-container
  img {
  height: 16px;
  width: 20px;
  object-fit: contain;
}

.page-container .fixed-top-bar .navigation-container .nav-right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-right
  .nav-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-right
  .nav-item-container
  img {
  height: 25px;
  width: 31px;
  object-fit: contain;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-right
  .nav-item-container
  p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.page-container .fixed-top-bar .navigation-container .nav-right .user-profile {
  display: flex;
  align-items: center;

  margin-left: 15px;

  cursor: pointer;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-right
  .user-profile
  .user-avatar {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 50%;

  margin: 0 10px;
}

.page-container .page-content .main-content-container {
  width: 100%;
  height: calc(100vh - 126px);

  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-container .page-content .main-content-container .forget-password-box {
  height: auto;
  min-height: 329px;
  width: 458px;
  border-radius: 10px;
  background-color: white;

  padding: 30px;
}

.page-container .page-content .main-content-container .forget-password-box h1 {
  font-family: "Arial";
  font-weight: 400;
  font-size: 34px;
  color: #111111;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .popup-secondary-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  color: #111111;

  margin-top: 8px;
  margin-bottom: 35px;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .input-field-container {
  width: auto;
  height: auto;
  margin-top: 15px;
  position: relative;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .input-field-container
  label {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .input-field-container
  input {
  width: 390px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  /* identical to box height, or 0% */
  color: #000000;
  padding: 0px 8px;
  margin-top: 8px;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .form-btn {
  width: 390px;
  height: 52px;
  border-radius: 5px;
  outline: none;
  font-family: "Arial";
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin: 8px 0;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .form-submit-btn {
  color: white;
  background: #e0c463;
  margin-top: 20px;
}

.page-container
  .page-content
  .main-content-container
  .forget-password-box
  .form-cancel-btn {
  color: black;
  background: #ffffff;
}

.footer-container {
  width: 100%;
  height: auto;
  min-height: 385px;
  background: #000000;

  padding: 100px;
}

.footer-container .upper-footer {
  width: 100%;
  height: auto;
  display: flex;
}

.footer-container .upper-footer .footer-left {
  width: 30%;
}

.footer-container .upper-footer .footer-left .logo-and-text {
  margin: 30px 0;
}

.footer-container .upper-footer .footer-left .logo-and-text img {
  height: 31px;
  width: 146px;
  object-fit: contain;
  border-radius: 0px;
}

.footer-container .upper-footer .footer-left .logo-and-text p {
  font-family: "Arial";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
}

.footer-container .upper-footer .footer-right {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container .upper-footer .footer-right .footer-col {
  flex: 1;
}

.footer-container .upper-footer .footer-right .footer-col .col-head {
  font-family: "Arial";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;

  margin-bottom: 30px;
}

.footer-container .upper-footer .footer-right .footer-col .col-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;

  margin-bottom: 15px;
}

.footer-container .upper-footer .footer-right .footer-col .link-box {
  height: 56px;
  width: 208px;
  background: rgba(58, 58, 58, 0.5);
  border-radius: 5px;

  display: flex;
  align-items: center;

  margin-bottom: 10px;

  cursor: pointer;
}

.footer-container .upper-footer .footer-right .footer-col .link-box img {
  height: 33px;
  width: 28px;
  object-fit: contain;

  margin: 0px 12px;
}

.footer-container
  .upper-footer
  .footer-right
  .footer-col
  .link-box
  .text-container
  .sec {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.footer-container
  .upper-footer
  .footer-right
  .footer-col
  .link-box
  .text-container
  .prim {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.social-icons-container {
  display: flex;
}

.social-icons-container .social-icon {
  width: 30px;
  height: 30px;
  background: rgba(58, 58, 58, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.social-icons-container .social-icon img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.input-field-container .show-btn {
  position: absolute;
  top: 60%;
  right: 5%;
  cursor: pointer;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  color: #e0c463;
}

.input-field-container .hide-btn {
  position: absolute;
  top: 60%;
  right: 5%;
  cursor: pointer;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  color: #e0c463;
  display: none;
}

.page-container
  .fixed-top-bar
  .navigation-container
  .nav-right
  .nav-item-container:nth-child(5) {
  display: none;
}

@media only screen and (max-width: 780px) {
  .page-container
    .page-content
    .main-content-container
    .forget-password-box
    h1 {
    font-size: 26px;
  }

  .page-container .page-content {
    background-color: white;
  }

  .page-container .page-content .main-content-container {
    align-items: flex-start;
  }

  .page-container .page-content .main-content-container .forget-password-box {
    width: 100%;
    padding: 30px;
  }
  .page-container
    .page-content
    .main-content-container
    .forget-password-box
    .input-field-container
    label,
  .page-container
    .page-content
    .main-content-container
    .forget-password-box
    .input-field-container
    input,
  .page-container
    .page-content
    .main-content-container
    .forget-password-box
    .form-btn {
    width: 100%;
  }
  .footer-container {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  .page-container .page-content {
  }
  .page-container .page-content .banner .boldBannerText {
    font-weight: 400;
    font-size: 12px;
  }
  .page-container .page-content .banner .bannerLink {
    font-size: 12px;
  }

  .page-container .fixed-top-bar .navigation-container {
    padding: 15px 15px;
  }

  .page-container .fixed-top-bar .navigation-container .nav-left .menu-icon,
  .page-container
    .fixed-top-bar
    .navigation-container
    .nav-left
    .search-bar-container {
    display: none;
  }

  .page-container .fixed-top-bar .navigation-container .nav-right .menu-icon,
  .page-container
    .fixed-top-bar
    .navigation-container
    .nav-right
    .nav-item-container:nth-child(3),
  .page-container
    .fixed-top-bar
    .navigation-container
    .nav-right
    .nav-item-container:nth-child(1),
  .page-container
    .fixed-top-bar
    .navigation-container
    .nav-right
    .user-profile {
    display: none;
  }
  .page-container
    .fixed-top-bar
    .navigation-container
    .nav-right
    .nav-item-container:nth-child(5) {
    display: block;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 1280px) {
  .footer-container {
    padding: 30px;
  }

  .footer-container .upper-footer {
    flex-direction: column;
  }

  .footer-container .upper-footer .footer-left,
  .footer-container .upper-footer .footer-right {
    width: 100%;
  }
}
