* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  width: 100vw;
  height: auto;
}

.page-container .page-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-container .banner {
  width: 100%;
  height: 46.55px;
  background-color: #111111;
  color: ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container .banner p {
  font-family: "Arial";
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}
.page-container .banner .boldBannerText {
  font-weight: 700;
}

.page-container .banner .bannerLink {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  color: #ffffff;

  margin-left: 20px;
}

.page-container .page-content .navigation-container {
  width: 100%;
  height: 80px;
  border: 2px solid red;
  padding: 15px 0px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}

.page-container .page-content .navigation-container .nav-left {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

.page-container .page-content .navigation-container .nav-left .logo-container {
  height: 31.9375px;
  width: 146px;
}

.page-container
  .page-content
  .navigation-container
  .nav-left
  .logo-container
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  cursor: pointer;
}

.page-container .page-content .navigation-container .nav-left .menu-icon {
  height: 18px;
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.page-container .page-content .navigation-container .nav-left .menu-icon p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  margin-bottom: -15px;
  margin-top: 8px;

  margin-left: -15px;
}

.page-container .page-content .navigation-container .nav-left .menu-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.page-container
  .page-content
  .navigation-container
  .nav-left
  .search-bar-container {
  height: 40px;
  width: 350px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px -1px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.page-container
  .page-content
  .navigation-container
  .nav-left
  .search-bar-container
  input {
  flex: 1;
  outline: none;
  border: 0;
}

.page-container
  .page-content
  .navigation-container
  .nav-left
  .search-bar-container
  img {
  height: 16px;
  width: 20px;
  object-fit: contain;
}

.page-container .page-content .navigation-container .nav-right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.page-container
  .page-content
  .navigation-container
  .nav-right
  .nav-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.page-container
  .page-content
  .navigation-container
  .nav-right
  .nav-item-container
  img {
  height: 25px;
  width: 31px;
  object-fit: contain;
}

.page-container
  .page-content
  .navigation-container
  .nav-right
  .nav-item-container
  p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.page-container .page-content .navigation-container .nav-right .user-profile {
  display: flex;
  align-items: center;

  margin-left: 15px;

  cursor: pointer;
}

.page-container
  .page-content
  .navigation-container
  .nav-right
  .user-profile
  .user-avatar {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 50%;

  margin: 0 10px;
}
